<div class="card">
  <div class="card-body">
    <form>
      <label for="enter-text">Please enter some text</label>
      <input #enterText type="text" class="form form-control" id="enter-text" />

      <br />
      <label for="enter-text">Your text has the following number of characters</label>
      <input
        value="{{ characterCount }}"
        readonly
        type="text"
        class="form form-control"
        id="enter-text"
      />
      <br />
      <button (click)="onCountCharacters(enterText.value)" class="btn btn-outline-primary btn-sm">
        Enter
      </button>
      <button type="reset" class="btn btn-outline-danger btn-sm ml-3">Reset</button>
    </form>
  </div>
</div>
