<h2 class="h3">Learning testing</h2>
<hr />

<div class="alert alert-primary" role="alert">
  The sub-components in this project all exist in order for me to learn and practise unit testing in
  Angular.
</div>
<h3 class="h4">Testing a service</h3>
<p>
  When you enter some text in the input field below and click enter, an alert is triggered which
  returns the character length of the text that has been entered. The character length calculation
  is handled by a service <code>CountCharsService.</code>
</p>
<app-testing-a-service></app-testing-a-service>

<h3 class="h4">Testing components</h3>
<p>
  The tests applied in this section all focus on testing a component. There are three variations:
</p>
<ul>
  <li>Testing the component class-only <i>without</i> dependencies</li>
  <li>Testing the component class-only <i>with</i> dependencies</li>
  <li>Testing the component with DOM-specific controls</li>
</ul>

<h4 class="h5">Testing component class-only</h4>
<app-class-only-component-test></app-class-only-component-test>
<p>
  Here the unit test simply confirms that the property which holds the mood value begins as 'happy'
  and then changes to 'sad' after the click event. This is achieved purely by calling the method
  that associated with the click. There is no engagement with the UI or the DOM itself.
</p>

<h4 class="h5">Testing component class-only with dependencies</h4>
<p>
  Here we call the date via a service that executes within the
  <code>ngOnInit</code> lifecycle method and outputs using a pipe. This is so that we can create a
  class test which requires a service. As the date will always be different, we use a test rule that
  checks the date format against a regex string.
</p>
<app-class-only-deps></app-class-only-deps>

<h4 class="h5">Testing component DOM interactions</h4>
<p>
  The following component adds content to the page from an array of data stored on the parent. We
  also include a heading simply to do a really basic test that it contains the right text.
</p>
<app-testing-dom></app-testing-dom>
