<h2 class="h3">Learning testing</h2>
<hr />

<div class="alert alert-primary" role="alert">
  The sub-components in this project all exist in order for me to learn and practise unit testing in
  Angular.
</div>
<h3 class="h4">Testing a service</h3>
<p>
  When you enter some text in the input field below and click enter, an alert is triggered which
  returns the character length of the text that has been entered. The character length calculation
  is handled by a service <code>CountCharactersService.</code>
</p>
<app-testing-a-service></app-testing-a-service>
