<h2 class="h3">Event binding</h2>
<hr />
<h3 class="h4">Click events</h3>
<h4 class="h5">Basic click event</h4>
<p>On button click an alert is displayed in the window.</p>
<div class="card">
  <div class="card-body">
    <button type="button" class="btn btn-primary btn-sm" (click)="basicClickEvent()">Click</button>
  </div>
</div>

<h4 class="h5">Click counter</h4>
<p>
  A basic click component with increment and decrement functions. The decrement function is limited
  to positive integers. When the 'Invoke service' button is clicked, the current value of the
  counter is presented as an alert. This functionality is provided by an injectable service.
</p>

<div class="card">
  <div class="card-body">
    <app-counter></app-counter>
  </div>
</div>

<h3 class="h4">Using <code>$event</code> for one-way event binding</h3>
<p>
  The examples above work by firing a method when a click occurs. Click events are obviously one of
  the built-in events provided by the browser. We are also able to write our own custom events. An
  example is given in the project
  <a routerLink="/component-directionality">Component interaction and data directionality</a> where
  an event tied to a form input bubbles up to its parent container.
</p>
<p>
  One of the constructs we use when we write custom events is <code>$event</code>. This is unique to
  Angular and is a special type of template variable that can be applied to (typically) UI-elements.
  When applied it captures whatever event is associated with the particular element. The example
  below shows this in action on an input element. We create a variable in the class component and
  have this update based on what the user types in the input. This is tied to the
  <code>input</code> event but we could also use <code>onChange</code> or <code>onKeydown</code>.
</p>

<div class="card">
  <div class="card-body">
    <p>
      <code>{{ inputVariable }}</code>
    </p>
    <form class="mb-2">
      <input type="text" class="form-control" (input)="updateVariable($event)" />
    </form>
  </div>
</div>

<p>
  Whatever you type it will be logged because we are capturing the value property of the event
  object with the following line in the template:
</p>
<pre>
    <code [highlight]="printInput"></code>
</pre>

<p>We do this in the component class with the following:</p>

<pre>
    <code [highlight]="printComponent"></code>
</pre>

<div class="alert alert-primary" role="alert">
  This is an example of <b>one-way data binding</b> where the data is going from child to parent.
  Another example of one-way data binding is provided
  <a routerLink="/component-directionality">here</a>, where we pass data from parent to child.
</div>

<h3 class="h4">Two-way event binding</h3>
<p>
  There are two ways to engineer two-way event binding. One way is to have both an event binding and
  a property binding applied to an element. The event would update the property binding and the
  property binding would reflect the event.
  <span style="color: red">Come back and add notes on the more laborious approach.</span>
</p>
<p>
  A more concise way to achieve this is to use the <code>ngModel</code> directive. This is a special
  kind of directive that combines event binding and property binding in a single declaration. This
  is reflected in the syntax: <code>[(ngModel)]</code>. We use the square brackets of property
  binding combined with the circular brackets of event binding.
</p>
<div class="card">
  <div class="card-body">
    <label for="two-way-binding">{{ twoWayBindingVar }}</label>
    <input id="two-way-binding" class="form-control" [(ngModel)]="twoWayBindingVar" />
  </div>
</div>
<p>
  Above, we have used two-way binding to have the input text automatically update the variable above
  the input. When we do this with <code>ngModel</code>, we don't need to use the
  <code>$event</code> variable tied to a method. We just have a property on the class that is
  updated like so:
</p>
