<h2 class="h3">Click events</h2>
<hr />
<h3 class="h4">Basic click event</h3>
<p>On button click an alert is displayed in the window.</p>
<div class="card">
  <div class="card-body">
    <button type="button" class="btn btn-primary btn-sm" (click)="basicClickEvent()">Click</button>
  </div>
</div>

<h3 class="h4">Click counter</h3>
<p>
  A basic click component with increment and decrement functions. The decrement function is limited
  to positive integers. When the 'Invoke service' button is clicked, the current value of the
  counter is presented as an alert. This functionality is provided by an injectable service.
</p>

<div class="card">
  <div class="card-body">
    <app-counter></app-counter>
  </div>
</div>
