<h2 class="h3">Copy and paste text mock-up</h2>
<hr />

<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-primary">Copy Text</button>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="home-tab"
      data-toggle="tab"
      href="#plaintext"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      >Plaintext</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="profile-tab"
      data-toggle="tab"
      href="#json"
      role="tab"
      aria-controls="profile"
      aria-selected="false"
      >JSON</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="contact-tab"
      data-toggle="tab"
      href="#richtext"
      role="tab"
      aria-controls="contact"
      aria-selected="false"
      >Rich text</a
    >
  </li>
</ul>
<div class="tab-content mb-4" id="myTabContent">
  <div class="tab-pane fade show active" id="plaintext" role="tabpanel">
    <p>
      <code style="color: black">
        Sed suscipit lacus id arcu malesuada, eu elementum nulla feugiat. Etiam erat magna, feugiat
        et ligula in, eleifend scelerisque dolor. Donec nulla nunc, maximus sed ornare a, vulputate
        quis sem. Integer rutrum sapien id lectus bibendum euismod. Duis ut est quis nibh porta
        sodales. Duis rhoncus erat nec purus venenatis, vitae rutrum velit fermentum. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Phasellus eget ante massa.
      </code>
    </p>
  </div>
  <div class="tab-pane fade" id="json" role="tabpanel">
    <p>
      <code style="color: black">{{ dummyJson }} </code>
    </p>
  </div>
  <div class="tab-pane fade" id="richtext" role="tabpanel">
    <p>
      Sed suscipit lacus id arcu <b>malesuada</b>, eu elementum nulla feugiat. Etiam erat magna,
      feugiat et ligula in, <i>eleifend scelerisque</i> dolor. Donec nulla nunc, maximus sed ornare
      a, vulputate quis sem. Integer rutrum sapien id lectus bibendum euismod. Duis
      <b>ut est quis nibh porta </b>sodales:
    </p>
    <ul>
      <li>Lorem ipsum dolar sit</li>
      <li>Lorem ipsum dolar sit</li>
    </ul>
  </div>
</div>

<form class="mt-4">
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><b>Practise pasting your text here</b></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
