<h2 class="h3">Copy and paste text mock-up</h2>
<hr />
<div class="d-flex justify-content-end">
  <button (click)="copy(narrative.textContent)" type="button" class="btn btn-primary">
    Copy Text
  </button>
</div>

<!--Studio Runner layout starts -->
<div class="studio-runner">
  <div class="runner-output">
    <div class="runner-output-container">
      <div class="row">
        <div class="col-sm-10 offest-sm-1 tabset-wrapper">
          <tabset>
            <tab #narrative heading="Narrative" id="tab1"
              >Sed suscipit lacus id arcu malesuada, eu elementum nulla feugiat. Etiam erat magna,
              feugiat et ligula in, eleifend scelerisque dolor. Donec nulla nunc, maximus sed ornare
              a, vulputate quis sem.</tab
            >
            <tab heading="Raw JSON"
              ><code>{{ dummyJson }}</code></tab
            >
            <tab heading="Errors">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Studio Runner layout ends -->

<form style="margin-top: 200px">
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><b>Practise pasting your text here</b></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
