.studio-runner {
  height: 100%;
  overflow: hidden;
}

.runner-output {
  display: grid;
  grid-template-rows: 20px 1fr 10px;
  height: 100%;
}

.runner-output-container {
  grid-row-start: 2;
  grid-row-end: 3;

  .row {
    height: 100%;
  }
}

.parent {
  position: relative;
}

.copy-button {
  position: absolute;
  top: 3px;
  right: 12px;
  //left: 0;
  // margin: 0;
}

.test-parent {
  margin-top: 100px;
  height: 200px;
  border: 1px solid magenta;
  position: relative;
  //  top: 0;
  //  margin: 0;
  //  overflow: hidden;
}

.test-child {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
