<h2 class="h3">Iterating through data</h2>
<hr />
<h3 class="h4">Basic iteration</h3>
<p>
  The data in the list below is sourced from the local directory. The
  <code>*ngFor</code> directive is used to pass an object array to the HTML template. This version
  doesn't make use of the <code>@Input</code> decorator since the data is stored at the level of the
  component itself
</p>
<app-names-ages></app-names-ages>

<h3 class="h4">Iteration with <code>@Input</code></h3>
<p>
  This time we iterate again but the data is passed from <i>this</i> parent component to the child
  component below that is prepared to accept data that meets its typed definition.The
  <code>@Input</code> decorator facilitates this.
</p>
<app-input-loop *ngFor="let lang of progLangs" [programmingLanguageData]="lang"></app-input-loop>
